
body {
    width: 600px;
    background-color: #b8dcff;
    color: #998877;
}

table {
    margin: auto
}

#controlpanel{
    margin-top: 30px;
}

.control {
    width: 160px;
    font-size: 150%;
}

#reset {
    text-align: left;
}

#count {
    text-align: right;
}

.gameboard {
    background-color: #b8dcff;
    width: 400px;
    font-size: 400%;
    font-style: bold;
}

.gamepanel {
    width: 100px;
    height: 100px;
    background-color: #222222;
    text-align: center;
    border-radius: 10px;
}

#win_msg {
    text-align: center;
}